.empty-faves {
  margin-top: -40px;
  height: 100vh;
  width: 100%;
}

.empty-faves-title {
  color: #a1a23c;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 870px) {
  .empty-faves-title {
    font-size: 24px;
  }
}
