.empty-faves {
  background: url('http://arunnath.com/i/2017/03/space-stars-wallpapers-desktop-background.jpg');
  margin-top: -40px;
  height: 100vh;
  width: 100%;
}

.empty-faves-title {
  color: #A1A23C;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.empty-image {
  background-image: url('http://www.cncode.org/static/savefiles/avatar/avatar_1267_2016-03-05-011311_5f62651a-e22c-11e5-b4cb-00163e007e95.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  height: 480px;
  width: 641px;
}

@media screen and (max-width: 870px) {
  .empty-image {
    height: 280px;
    width: 441px;
    margin: 0px 5px;
  }

  .empty-faves-title {
    font-size: 24px;
  }
}